/*por que tengo que poner lo del body y lo del html?*/

body,
html {
  background-image: url("../Images/bg-cine2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}